* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
@font-face {
  font-family: "HeinzLabel";
  src: url("./assets/HeinzLabel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
